@model WebBanking.Models.Customer

@{ ViewData["Title"] = "Edit"; }

<h1>Edit</h1>

<h4>Password</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerID" />
            <div class="form-group">
                <label for="password" class="control-label">New Password</label>
                <input id="password" name="password" class="form-control" type="password" required data-val="true" autofocus />
                <span class="text-danger field-validation-error" data-valmsg-for="password" data-valmsg-replace="true"><span id="Mobile-error" class="">The field Mobile must match the regular expression '^04\d{2}(?:\s\d{3}){2}$'.</span></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Edit">Back to My Profile</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
