@model WebBanking.ViewModels.TransactionViewModel


@{ ViewData["Title"] = "Withdraw"; }

<h1 class="display-4">Account Number - @Model.AccountNumber</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Withdraw">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="AccountNumber" hidden value="@Model.AccountNumber" />
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" type="number" step="0.01" class="form-control" autofocus />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Withdraw" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Accounts</a>
</div>

@*@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}*@
