@model AdminPortal.ViewModels.IndexViewModel;

@{
    ViewData["Title"] = "Admin Index";
}

<h1>Admin</h1>

<h4>Actions</h4>
<hr>
<div class="container">
    <div class="row">
        <h3>Transactions by account number</h3>
    </div>
    <div class="row">
        <partial name="Admin/_GetTransactionsByAccountForm" for="TransactionByAccountViewModel" />        
    </div>
    <hr />
    <div class="row">
        <h3>Transaction by amount</h3>
    </div>
    <div class="row">
        <partial name="Admin/_TransactionsByAmountForm" for="TransactionByAmountViewModel" />       
    </div>
    <hr />
    <div class="row">
        <h3>Update customer details</h3>
    </div>
    <div class="row">
        <partial name="Admin/_GetCustomerDetails" for="Customer" />
    </div>
    <hr />
    <div class="row">
        <h3>Block/Unblock Customer</h3>
    </div>
    <div class="row">
        <partial name="Admin/_CustomerAccessForm" for="CustomerAccessViewModel" />
    </div>
    <hr />
    <div class="row">
        <h3>Block/Unblock BillPay</h3>
    </div>
    <div class="row">
        <partial name="Admin/_BillPayStateForm" for="BillPayStateViewModel" />
    </div>
    <hr />
</div>