@model TransactionByAmountViewModel;

@{
    ViewData["Title"] = "Transactions by Amount";
}
<h1>Transactions by Amount</h1>
<hr>
 <div class="container">
        <div class="row">
            <partial name="Admin/_TransactionsByAmountForm" model="@Model"/>
        </div>
    </div>
<hr>

@if (Model.Transactions != null && Model.Transactions.Count != 0)
{
    <div>
        <h1>Transactions between @Html.DisplayFor(x => x.MinAmount) And @Html.DisplayFor(x => x.MaxAmount) </h1>
        <partial name="Admin/_TransactionsTable" for="Transactions" />
    </div>
}
else
{
    <div>
        <h3>No Transactions to diplay within range</h3>
    </div>
}