@model TransactionByAccountViewModel;

@{
    ViewData["Title"] = "Transactions by Account Number";
}
<h1>Transactions by Account Number</h1>
<hr>
<div class="container">
    <div class="row">
        <partial name="Admin/_GetTransactionsByAccountForm" model="@Model" />
    </div>
</div>
<hr>

@if (Model.transactions != null && Model.transactions.Count != 0)
{
<div>
    <h1>Transactions for account number @Model.transactions.First().AccountNumber </h1>
    <partial name="Admin/_TransactionsTable" for="transactions" />    
</div>
}
else
{
    <div>
        <h3>No Transactions to diplay within range or Acount number does not exist</h3>
    </div>
}